* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
}

body {
    width: 100%;
}

main {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
}

main div {
    background-color: lightslategray;
    background-image: url("wood02.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin: auto;
    height: 80vh;
    overflow: auto;
}

span{
    background-color: #ffffff80;
    font-size: 1.3rem;
}